<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Carma:</strong>
  <%= @user.carma %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>
