<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->
<div class = "bg_profile">
  <div class="container emp-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="def_profile_avatar.jpg" alt=""/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= @user.name %>
          </h5>
          <h6>
            Designer
          </h6>
          <p class="proile-rating">Carma : <%= @user.carma %></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="events_g-tab" data-toggle="tab" href="#events_g" role="tab" aria-controls="events_g" aria-selected="false">Visiting Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="events_c-tab" data-toggle="tab" href="#events_c" role="tab" aria-controls="events_c" aria-selected="false">Created events</a>
            </li>
            <% if current_user.id == @user.id  %>
            <li class="nav-item">
              <a class="nav-link" id="my_requests-tab" data-toggle="tab" href="#my_requests" role="tab"
                 aria-controls="my_requests" aria-selected="false">My requests</a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <% if current_user.id == @user.id %>
          <%= link_to "Edit Profile", 'users/edit',class:"profile-edit-btn"%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">

          <p>Friends</p>
          <br/>
          <a href="">Bootsnipp Profile</a><br/>
          <a href="">Bootply Profile</a>
          <p>Interests</p>
          <%= @user.interests.each do |i| %>
            <%= i.name %>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p><%= @user.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>123 456 7890</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Profession</label>
              </div>
              <div class="col-md-6">
                <p>Web Developer and Designer</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="events_g" role="tabpanel" aria-labelledby="events_g-tab">
            <div class="list-group">
              <% @events_g.each do |eg| %>
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= link_to eg.name, eg%></h5>
                  <small class="text-muted">3 days ago</small>
                </div>
              </div>
                <p class="mb-1"><%= eg.reduced_description 100 %></p>
                <small class="text-muted">Donec id elit non mi porta.</small>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="events_c" role="tabpanel" aria-labelledby="events_c-tab">
            <div class="list-group">
              <% @events_c.each do |ec| %>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= link_to ec.name, ec%></h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                </div>
                <p class="mb-1"><%= ec.reduced_description 100 %> </p>
                <small class="text-muted"> Donec id elit non mi porta.</small>
            <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="my_requests" role="tabpanel" aria-labelledby="my_requests-tab">
            <div class="list-group">
              <% current_user.requests.each do |pack| %>
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= link_to pack[:event].name, pack[:event]%></h5>
                    <small class="text-muted"><%= pack[:time] %></small>
                  </div>
                </div>
                <p class="mb-1"><%= pack[:event].reduced_description 100 %></p>
                <small class="text-muted">Donec id elit non mi porta.</small>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>