

<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <!------ Include the above in your HEAD tag ---------->
<div class = "bg_e_profile">

</div>
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
           <!-- <img src="def_profile_avatar.jpg" alt=""/>-->
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <!--------<input type="file" name="file"/> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <%= @event.name %>
            </h5>
            <h6>
              <%= @event.description %>
            </h6>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <% if current_user.id == @creator.id %>
              <li class="nav-item">
                <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Requests</a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <% if current_user.id == @creator.id %>
            <%= link_to "Edit Profile", edit_event_path(:id => @event.id) ,class:"profile-edit-btn"%>
          <% else %>
            <% if @event.users.include? current_user %>
              <%= link_to("I'm out", cancel_url(:id => @event.id),class:"profile-edit-btn") %>
            <% else %>
              <%= link_to("I'm in", request_url(:id => @event.id),class:"profile-edit-btn") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p>Participants</p>
            <% @event.participants.each do |participant| %>
              <%= link_to participant.name, participant  %>
              <% if current_user.id == @creator.id %>
              <%= link_to 'Kick',
                          reject_event_url(:user_id => participant.id),method: :delete %>
              <br/>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Creator name</label>
                </div>
                <div class="col-md-6">
                  <p><%= link_to(@creator.name,user_path(:id => @creator.id))%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Interest</label>
                </div>
                <div class="col-md-6">
                  <% unless @event.interests.empty? %>
                    <p><%= @event.interests.first.name %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
              <div class="list-group">
                <% @event.unconfirmed_users.each do |usr| %>
                  <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= link_to usr.name, user_url(:id => usr.id)%></h5>
                      <small class="text-muted"> </small>
                      <%= link_to 'Apply', apply_event_url(:user_id => usr.id), method: :patch %>
                      <%= link_to 'Reject', reject_event_url(:user_id => usr.id),method: :delete %>
                    </div>
                  </div>
                  <p class="mb-1"></p>
                  <p class="mb-1"></p>
                  <small class="text-muted">Donec id elit non mi porta.</small>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  </body>
</html>
