

<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <!------ Include the above in your HEAD tag ---------->
<div class = "bg_e_profile">

</div>
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
           <!-- <img src="def_profile_avatar.jpg" alt=""/>-->
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <!--------<input type="file" name="file"/> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <%= @event.name %>
            </h5>
            <h6>
              <%= @event.description %>
            </h6>
            <p class="proile-rating">Creator :<%= link_to(@creator.name,user_path(:id => @creator.id))%></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <% if current_user.id == @creator.id %>
            <%= link_to "Edit Profile", edit_event_path(:id => @event.id) ,class:"profile-edit-btn"%>
          <% else %>
            <%=link_to("I'm in", 'events/in', method: :put) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p>Participants</p>
            <a href="">participant 1</a><br/>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Creator name</label>
                </div>
                <div class="col-md-6">
                  <p>Kshiti Ghelani</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Interest</label>
                </div>
                <div class="col-md-6">
                  <% unless @event.interests.empty? %>
                    <p><%= @event.interests.first.name %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Total Events</label>
                </div>
                <div class="col-md-6">
                  <p>230</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  </body>
</html>
